<h1>About the app</h1>
<p>
	The Maudsley Method has been found to the most successful way to achieve full recovery from a restrictive eating disorder. This approach requires planning out nutritious meals, but many online nutrition planners are geared toward dieters, which can be triggering for those in recovery.
</p>
<p>
	Here you will find a judgement-free zone where you can
	plan out your meals and snacks to make sure you're eating
	enough to make a full recovery.

	Features:
	<ul>
		<li>No judgement - we're here to support and encourage you for entering recovery</li>
		<li>Plan your meals and snacks so you're eating enough for your needs</li>
		<li>Check off the foods you've eaten, so you don't forget to eat them</li>
		<li>No diet talk and no bad foods</li>
	</ul>
</p>
